{{define "book/book_edit.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book edit</title>
</head>
<body>
    <form action="/book/edit?id={{.Id}}" method="POST">

        <div>
            <label>书名
                <input type="text" name="title" value="{{.Title}}">
            </label>
        </div>
        <div>
            <label>价格
                <input type="number" name="price" value="{{.Price}}">
            </label>
        </div>
        <div>
            <label>
                <input type="submit">
            </label>
        </div>
    </form>
</body>
</html>
{{end}}
